/* Global */
:root {
  /* Color */
  --color-green: #2ec1ac;
  --color-white: #ffffff;
  --color-pink: #fdc7ff;

  /* Font size */
  --font-medium: 18px;
  --font-small: 16px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* default settings */
html,
body {
  margin: 0;
}

input,
button,
ul,
p {
  all: unset;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background-color: var(--color-green);
}

/* Typography */
h2 {
  font-size: var(--font-medium);
}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}

/* waiting part */
.waiting__container {
  background-color: yellow;
  height: 275px;
}
.waiting__title {
  margin: 0 15px;
}
.waiting__list__item {
  margin: 0 15px;
}

/* done part */
.done__container {
  background-color: var(--color-pink);
  height: 275px;
}
.done__title {
  margin: 0 15px;
}
.done__list__item {
  margin: 0 15px;
}

/* append part */
.append__container {
  background-color: yellowgreen;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.append__container input {
  margin: 10px 0 10px 10px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 290px;
}
.append__container button {
  margin: 10px 10px 10px 0;
  background-color: var(--color-green);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  color: white;
}
